{% extends "core/base.html" %}

{% block content %}
<script src="static/js/main.js" charset="utf-8"></script>

<link rel="stylesheet" href="/static/css/bootstrap.min.css" media="screen">
<div class= "container">
  <h1>jQuery Example</h1>
  <span>Filter Class<input name="major"></span>
  <button id="fetch_data">Get Classes</button>
  <span id="count"></span><span id="result">?</span>
</div>
<div class="container-fluid">
	<!--<div class = "row">
		<div id="piechart" class="col-lg-12" style="width: 500px; height: 300px;"</div>
	</div>-->
	<div class ="row">
		<div class="col-sm-3">
		<div class="btn-group">
		      <a href="#" class="btn btn-default">Department</a>
		      <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
		      <ul class="dropdown-menu" id="dept">
				<!--Departments--> 
		      <li><a href="#">Action</a></li>
		      <li><a href="#">Another action</a></li>
		      <li><a href="#">Something else here</a></li>
		      
		      </ul>
		</div>
		</div>
		<div class="btn-group">
		         <a href="#" class="btn btn-default">Major</a>
			 <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
			 <ul class="dropdown-menu" id="major">
				<!--Majors for chosen Department --> 
			 <li><a href="#">Action</a></li>
			 <li><a href="#">Another action</a></li>
			 <li><a href="#">Something else here</a></li>
			 </ul>
			 </div>
	</div>

	<div class ="row">
		<div id="d3stuff" class="col-lg-12">
			<script src="/static/js/graph.js"></script>	
		</div>
	</div>

</div>


<!--{test compiled and minified JavaScript --> 
{% endblock %}
