{% extends "core/base.html" %}

{% block content %}
<script src="static/js/main.js" charset="utf-8"></script>
<link rel="stylesheet" href="/static/css/bootstrap.min.css" media="screen">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<div class= "container">
    <h1>jQuery Example</h1>
    <span>Filter Class<input name="filter"></span>
    <button id="fetch_data">Get Classes</button>
    <span id=result>?</span>
</div>
{test compiled and minified JavaScript -->
{% endblock %}
